MailAssistAutoMini1.0.json
{
  "name": "MailAssistAuto1.2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        -48
      ],
      "id": "73b9139e-4fb1-44fa-8465-84be28cd2280",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://api.aladhan.com/v1/timingsByCity",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "Trabzon"
            },
            {
              "name": "country",
              "value": "Turkey"
            },
            {
              "name": "method",
              "value": "13"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        -48
      ],
      "id": "02029db5-fca5-49d3-b21e-d560d29bf735",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "random@gmail.com",
        "subject": "={{ $now.format('dd.MM.yyyy') }} \n Günlük Disiplin ve IE Raporu",
        "message": "=<div style=\"background-color: #0b1120; padding: 30px 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color: #e2e8f0;\">\n  \n  <div style=\"max-width: 500px; margin: 0 auto; background-color: #1e293b; border-radius: 20px; overflow: hidden; box-shadow: 0 20px 40px rgba(0,0,0,0.6); border: 1px solid #334155;\">\n\n    <div style=\"background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%); padding: 35px 20px 25px; text-align: center; border-bottom: 2px solid #38bdf8;\">\n      <div style=\"font-size: 10px; font-weight: 800; letter-spacing: 4px; color: #94a3b8; text-transform: uppercase; margin-bottom: 10px;\">Operasyonel Rapor</div>\n      <div style=\"font-size: 32px; font-weight: 900; color: #f8fafc; letter-spacing: 1px; line-height: 1;\">{{ $now.format('dd.MM.yyyy') }}</div>\n      <div style=\"font-size: 12px; color: #38bdf8; font-weight: 700; letter-spacing: 3px; margin-top: 8px;\">📍 TRABZON</div>\n    </div>\n\n    <div style=\"padding: 30px 25px;\">\n\n      <div style=\"text-align: center; margin-bottom: 35px;\">\n        <div style=\"display: inline-block; background-color: #0f172a; padding: 20px 50px; border-radius: 16px; border: 1px solid #f43f5e; box-shadow: 0 10px 15px -3px rgba(244, 63, 94, 0.1);\">\n          <div style=\"color: #f43f5e; font-size: 12px; font-weight: 800; letter-spacing: 2px; margin-bottom: 8px;\">🌙 İFTAR PENCERESİ</div>\n          <div style=\"font-size: 42px; font-weight: 900; color: #ffffff; line-height: 1; letter-spacing: -1px;\">{{ $node[\"HTTP Request\"].json.data.timings.Maghrib }}</div>\n        </div>\n        <div style=\"font-size: 12px; color: #64748b; margin-top: 12px; font-weight: 500;\">Antrenman ve glikojen alımını bu saate göre programla.</div>\n      </div>\n\n      <div style=\"background-color: #0f172a; border-radius: 14px; padding: 20px; margin-bottom: 15px; border-left: 4px solid #eab308;\">\n        <div style=\"text-align: center; color: #eab308; font-size: 10px; font-weight: 800; letter-spacing: 2px; margin-bottom: 12px; text-transform: uppercase;\">Zihinsel Odak</div>\n        <div style=\"font-size: 16px; font-style: italic; color: #f8fafc; text-align: center; line-height: 1.6; font-weight: 500;\">\n          \"{{ JSON.parse($node[\"Google Gemini\"].json.content.parts[0].text.replace(/```json|```/g, \"\")).quote }}\"\n        </div>\n      </div>\n\n      <div style=\"background-color: #0f172a; border-radius: 14px; padding: 20px; margin-bottom: 15px; border-left: 4px solid #10b981;\">\n        <div style=\"text-align: center; color: #10b981; font-size: 10px; font-weight: 800; letter-spacing: 2px; margin-bottom: 12px; text-transform: uppercase;\">Mühendislik Disiplini</div>\n        <div style=\"font-size: 14px; color: #cbd5e1; text-align: justify; line-height: 1.6;\">\n          {{ JSON.parse($node[\"Google Gemini\"].json.content.parts[0].text.replace(/```json|```/g, \"\")).ie_fact }}\n        </div>\n      </div>\n\n      <div style=\"background-color: #0f172a; border-radius: 14px; padding: 20px; margin-bottom: 30px; border-left: 4px solid #a855f7;\">\n        <div style=\"text-align: center; color: #a855f7; font-size: 10px; font-weight: 800; letter-spacing: 2px; margin-bottom: 12px; text-transform: uppercase;\">Entelektüel Veri</div>\n        <div style=\"font-size: 14px; color: #cbd5e1; text-align: justify; line-height: 1.6;\">\n          {{ JSON.parse($node[\"Google Gemini\"].json.content.parts[0].text.replace(/```json|```/g, \"\")).trivia }}\n        </div>\n      </div>\n\n      <div style=\"text-align: center; padding-top: 25px; border-top: 1px solid #334155;\">\n        <div style=\"font-size: 10px; font-weight: 800; color: #64748b; letter-spacing: 3px; margin-bottom: 8px;\">SİSTEM BİLDİRİMİ</div>\n        <div style=\"font-size: 12px; color: #94a3b8; font-weight: 500; font-style: italic;\">Estetik olan işlevsel olandır. Veriyi aksiyona dönüştür.</div>\n      </div>\n\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -48
      ],
      "id": "90b1c0ab-a1ea-405b-8e33-9ec8285245cb",
      "name": "Send a message",
      "webhookId": "7e26ae08-af58-4bbc-932b-b2f3d281baba",
      "credentials": {
        "gmailOAuth2": {
          "id": "9GxLhU4gWHMRrL3i",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Sen bir stratejik mentor ve endüstri mühendisisin. Aşağıdaki formatta, her gün farklı ve özgün olacak şekilde 3 bilgi üret:\n\nDisiplin ve başarı odaklı 1 motivasyon sözü.\n\nİlginç ve az bilinen 1 genel kültür bilgisi.\n\nEndüstri mühendisliği terminolojisinden (Kaizen, JIT, Altı Sigma, vb.) bir kavram ve 1 cümlelik açıklaması.\nÇıktıyı sadece saf JSON formatında ver, başka açıklama yapma: {'quote': '...', 'trivia': '...', 'ie_fact': '...'}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        336,
        -48
      ],
      "id": "a1f6dcd7-bd3b-4b53-8405-9ecd3af17e6b",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "vhlV7kqkN4FYuIyX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "646ceb1c-50a0-4a6c-8314-a55119058c87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb5bda723de75d0c3b1442dbefa5046428248d45bea792e7a74d4b2a88491a9b"
  },
  "id": "k5WhZtXYrVKzUvvf",
  "tags": []
}